@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.6;
  overflow: hidden;
  margin: 0;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --left-bg-color: rgba(87, 84, 246, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 246, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
  --speed: 1000ms;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.5px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
}

.split {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.split h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #fff;
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  white-space: nowrap;
}
@media screen and (max-width: 800px) {
  .split h1 {
    top: 30%;
  }
}
.split .btn {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 0.2rem solid #fff;
  font-size: 1rem;
  width: 15rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
@media screen and (max-width: 800px) {
  .split .btn {
    width: 12rem;
    padding: 1.2rem;
  }
}
.split.left {
  left: 0;
  background: url("./../images/ps.jpg") no-repeat;
  background-size: cover;
}
.split.left::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--left-bg-color);
}
.split.left .btn:hover {
  background-color: var(--left-btn-hover-color);
  border-color: var(--left-btn-hover-color);
}
.split.right {
  right: 0;
  background: url("./../images/xbox.jpg") no-repeat;
  background-size: cover;
}
.split.right::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--right-bg-color);
}
.split.right .btn:hover {
  background-color: var(--right-btn-hover-color);
  border-color: var(--right-btn-hover-color);
}
.split.right, .split.left, .split.right::before, .split.left::before {
  transition: all var(--speed) ease-in-out;
  -webkit-transition: all var(--speed) ease-in-out;
  -moz-transition: all var(--speed) ease-in-out;
  -ms-transition: all var(--speed) ease-in-out;
  -o-transition: all var(--speed) ease-in-out;
}

.hover-left .left {
  width: var(--hover-width);
}
.hover-left .right {
  width: var(--other-width);
}

.hover-right .right {
  width: var(--hover-width);
}
.hover-right .left {
  width: var(--other-width);
}

/*# sourceMappingURL=main.css.map */
