body {
	font-family: 'Mulish', sans-serif;
	letter-spacing: -0.5px;
	background-color: #eafbff;
	background-image: linear-gradient(
		to bottom,
		#eafbff 0%,
		#eafbff 50%,
		#5290f9 50%,
		#5290f9 100%
	);
}
