@use 'base';

body {
	background: #f4f4f4;
	font-family: 'Poppins', sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	min-height: 100vh;
	padding: 10px;
}

.testimonial-container {
	background-color: #476ce4;
	border-radius: 15px;
	color: #fff;
	margin: 20px auto;
	padding: 50px 80px;
	max-width: 768px;
	position: relative;

	.progress-bar {
		background-color: #fff;
		height: 4px;
		width: 100%;
		animation: grow 10s linear infinite;
		margin-bottom: 2rem;
		transform: scaleX(0);
		transform-origin: left;

		@keyframes grow {
			to {
				transform: scaleX(1);
			}
		}
	}

	.fa-quote {
		color: rgba(255, 255, 255, 0.356);
		font-size: 28px;
		position: absolute;
		top: 70px;

		&-right {
			left: 40px;
		}
		&-left {
			right: 40px;
		}
	}
	.testimonial {
		line-height: 28px;
		text-align: justify;
	}

	.user {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 1.5rem;

		&-image {
			border-radius: 50%;
			height: 75px;
			width: 75px;
			object-fit: cover;
		}

		&-details {
			margin-left: 10px;
			h4 {
				margin: 0;
			}

			.role {
				font-weight: 500;
				margin: 5px 0;
			}
		}
	}
}

@media (max-width: 768px) {
	.testimonial-container {
		padding: 20px 30px;
	}
	.fa-quote {
		display: none;
	}
}
